### Economic Factors vs. Sales

In [3]:
import pandas as pd
walmart = pd.read_csv('walmart_Sales.csv')
walmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [11]:
# how do fuel price, CPI, temperature, and unemployment affect sales performance?
FCTU_affect_sales = walmart.groupby(['Fuel_Price', 'CPI', 'Temperature', 'Unemployment'])['Weekly_Sales'].mean()
FCTU_affect_sales = FCTU_affect_sales.reset_index()
FCTU_affect_sales

      Fuel_Price         CPI  Temperature  Unemployment  Weekly_Sales
0          2.472  210.045102        45.66         8.554    470281.030
1          2.513  210.264116        80.58         8.360    434471.380
2          2.514  203.247980        48.77         9.521    658997.550
3          2.514  210.045102        43.96         8.554   1230591.970
4          2.514  210.045102        45.66         8.554    510382.500
...          ...         ...          ...           ...           ...
5569       4.449  131.149968        72.71         6.943   1138120.900
5570       4.449  131.149968        75.55         6.895    254412.340
5571       4.468  131.108333        71.74        10.199    859258.280
5572       4.468  131.108333        76.03         6.943   1163134.505
5573       4.468  131.108333        79.64         6.895    291781.150

[5574 rows x 5 columns]

In [16]:
# Are there correlations between economics indicators and sales drops/spikes?
walmart['Date'] = pd.to_datetime(walmart['Date'], format='%d-%m-%Y')
corr_eco_sales = walmart.corr().Weekly_Sales
print(corr_eco_sales)

Store          -0.335332
Date            0.006949
Weekly_Sales    1.000000
Holiday_Flag    0.036891
Temperature    -0.063810
Fuel_Price      0.009464
CPI            -0.072634
Unemployment   -0.106176
Name: Weekly_Sales, dtype: float64

### Regional or Store-Type Insights (if available)

In [ ]:
## If we can classify stores by location or region, which performs best?