In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mikhail1681/walmart-sales")

print("Path to dataset files:", path)

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/mikhail1681/walmart-sales?dataset_version_number=2...

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 122k/122k [00:00<00:00, 322kB/s]

Extracting files...
Path to dataset files: C:\Users\USER\.cache\kagglehub\datasets\mikhail1681\walmart-sales\versions\2

In [1]:
import pandas as pd
walmart = pd.read_csv("Walmart_Sales.csv")      # reading csv file 
print(walmart.head())

   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106

In [3]:
# to check the shape of the data that is rows and columns
walmart.shape

(6435, 8)

In [4]:
walmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [5]:
walmart.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

### ðŸ§® A. Sales Performance Analysis

In [6]:
# Which store recorded the highest total sales across all weeks?

shs_week = walmart.groupby("Store", as_index=False)["Weekly_Sales"].sum()
shs = shs_week.sort_values(by="Weekly_Sales", ascending=False)
shs.head()

    Store  Weekly_Sales
19     20  3.013978e+08
3       4  2.995440e+08
13     14  2.889999e+08
12     13  2.865177e+08
1       2  2.753824e+08

In [2]:
# What is the average weekly sales per store?
Avg_weekly_sales = walmart.groupby('Store', as_index=False)['Weekly_Sales'].mean()
Avg_weekly_sales.head()

   Store  Weekly_Sales
0      1  1.555264e+06
1      2  1.925751e+06
2      3  4.027044e+05
3      4  2.094713e+06
4      5  3.180118e+05

In [12]:
# âž¤ How consistent is each storeâ€™s sales over time?
storeSales_by_time = walmart.groupby(['Store', 'Date'])['Weekly_Sales'].sum().reset_index()
storeSales_by_time.head()

   Store        Date  Weekly_Sales
0      1  01-04-2011    1495064.75
1      1  01-06-2012    1624477.58
2      1  01-07-2011    1488538.09
3      1  01-10-2010    1453329.50
4      1  02-03-2012    1688420.76